In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

df=pd.read_csv('C:/Users/xabie/proyectototal/Val1.csv')

df.head(20)

,zentriert href,tiny_wappen src,links,zentriert,zentriert 2,rechts,rechts 2
0,https://www.transfermarkt.es/manchester-city/s...,https://tmssl.akamaized.net/images/wappen/tiny...,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €"
1,https://www.transfermarkt.es/fc-bayern-munchen...,https://tmssl.akamaized.net/images/wappen/tiny...,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €"
2,https://www.transfermarkt.es/fc-paris-saint-ge...,https://tmssl.akamaized.net/images/wappen/tiny...,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €"
3,https://www.transfermarkt.es/fc-liverpool/star...,https://tmssl.akamaized.net/images/wappen/tiny...,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €"
4,https://www.transfermarkt.es/fc-chelsea/starts...,https://tmssl.akamaized.net/images/wappen/tiny...,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €"
5,https://www.transfermarkt.es/real-madrid/start...,https://tmssl.akamaized.net/images/wappen/tiny...,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €"
6,https://www.transfermarkt.es/tottenham-hotspur...,https://tmssl.akamaized.net/images/wappen/tiny...,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €"
7,https://www.transfermarkt.es/inter-mailand/sta...,https://tmssl.akamaized.net/images/wappen/tiny...,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €"
8,https://www.transfermarkt.es/ac-mailand/starts...,https://tmssl.akamaized.net/images/wappen/tiny...,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €"
9,https://www.transfermarkt.es/borussia-dortmund...,https://tmssl.akamaized.net/images/wappen/tiny...,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €"
10,https://www.transfermarkt.es/ssc-neapel/starts...,https://tmssl.akamaized.net/images/wappen/tiny...,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €"
11,https://www.transfermarkt.es/rasenballsport-le...,https://tmssl.akamaized.net/images/wappen/tiny...,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €"
12,https://www.transfermarkt.es/benfica-lissabon/...,https://tmssl.akamaized.net/images/wappen/tiny...,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €"
13,https://www.transfermarkt.es/fc-porto/startsei...,https://tmssl.akamaized.net/images/wappen/tiny...,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €"
14,https://www.transfermarkt.es/eintracht-frankfu...,https://tmssl.akamaized.net/images/wappen/tiny...,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €"
15,https://www.transfermarkt.es/fc-brugge/startse...,https://tmssl.akamaized.net/images/wappen/tiny...,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €"

In [2]:
df=df[['links', 'zentriert', 'zentriert 2', 'rechts', 'rechts 2']]

df.head(20)

,links,zentriert,zentriert 2,rechts,rechts 2
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €"
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €"
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €"
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €"
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €"
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €"
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €"
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €"
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €"
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €"
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €"
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €"
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €"
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €"
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €"
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €"

In [3]:
df.columns=['Equipo', 'Plantilla', 'Edad_media', 'Valor_equipo', 'Valor_medio_jugadores']

df.head(20)

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €"
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €"
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €"
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €"
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €"
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €"
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €"
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €"
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €"
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €"
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €"
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €"
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €"
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €"
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €"
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €"

In [4]:
df.insert(5,"Continua",'Yes')
df

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €",Yes
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €",Yes
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €",Yes
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €",Yes
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €",Yes
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €",Yes
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €",Yes
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €",Yes
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €",Yes
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €",Yes
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €",Yes
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €",Yes
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €",Yes
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €",Yes
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €",Yes
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €",Yes

In [5]:
df2=pd.read_csv('C:/Users/xabie/proyectototal/Val2.csv')

df2.head(20)

,zentriert href,tiny_wappen src,links,zentriert,zentriert 2,rechts,rechts 2
0,https://www.transfermarkt.es/fc-barcelona/star...,https://tmssl.akamaized.net/images/wappen/tiny...,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €"
1,https://www.transfermarkt.es/atletico-madrid/s...,https://tmssl.akamaized.net/images/wappen/tiny...,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €"
2,https://www.transfermarkt.es/juventus-turin/st...,https://tmssl.akamaized.net/images/wappen/tiny...,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €"
3,https://www.transfermarkt.es/bayer-04-leverkus...,https://tmssl.akamaized.net/images/wappen/tiny...,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €"
4,https://www.transfermarkt.es/ajax-amsterdam/st...,https://tmssl.akamaized.net/images/wappen/tiny...,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €"
5,https://www.transfermarkt.es/olympique-marseil...,https://tmssl.akamaized.net/images/wappen/tiny...,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €"
6,https://www.transfermarkt.es/red-bull-salzburg...,https://tmssl.akamaized.net/images/wappen/tiny...,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €"
7,https://www.transfermarkt.es/sporting-lissabon...,https://tmssl.akamaized.net/images/wappen/tiny...,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €"
8,https://www.transfermarkt.es/fc-sevilla/starts...,https://tmssl.akamaized.net/images/wappen/tiny...,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €"
9,https://www.transfermarkt.es/glasgow-rangers/s...,https://tmssl.akamaized.net/images/wappen/tiny...,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €"
10,https://www.transfermarkt.es/celtic-glasgow/st...,https://tmssl.akamaized.net/images/wappen/tiny...,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €"
11,https://www.transfermarkt.es/gnk-dinamo-zagreb...,https://tmssl.akamaized.net/images/wappen/tiny...,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €"
12,https://www.transfermarkt.es/shakhtar-donetsk/...,https://tmssl.akamaized.net/images/wappen/tiny...,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €"
13,https://www.transfermarkt.es/fc-kopenhagen/sta...,https://tmssl.akamaized.net/images/wappen/tiny...,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €"
14,https://www.transfermarkt.es/fc-viktoria-pilse...,https://tmssl.akamaized.net/images/wappen/tiny...,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €"
15,https://www.transfermarkt.es/maccabi-haifa/sta...,https://tmssl.akamaized.net/images/wappen/tiny...,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €

In [6]:
df2=df2[['links', 'zentriert', 'zentriert 2', 'rechts', 'rechts 2']]

df2.head(20)

,links,zentriert,zentriert 2,rechts,rechts 2
0,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €"
1,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €"
2,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €"
3,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €"
4,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €"
5,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €"
6,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €"
7,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €"
8,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €"
9,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €"
10,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €"
11,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €"
12,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €"
13,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €"
14,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €"
15,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €

In [7]:
df2.columns=['Equipo', 'Plantilla', 'Edad_media', 'Valor_equipo', 'Valor_medio_jugadores']

df2.head(20)

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores
0,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €"
1,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €"
2,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €"
3,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €"
4,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €"
5,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €"
6,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €"
7,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €"
8,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €"
9,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €"
10,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €"
11,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €"
12,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €"
13,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €"
14,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €"
15,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €

In [8]:
df2.insert(5,"Continua",'No')
df2

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €",No
1,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €",No
2,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €",No
3,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €",No
4,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €",No
5,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €",No
6,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €",No
7,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €",No
8,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €",No
9,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €",No
10,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €",No
11,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €",No
12,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €",No
13,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €",No
14,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €",No
15,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €,No

In [9]:
df3=pd.concat([df, df2], axis=0)
df3

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €",Yes
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €",Yes
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €",Yes
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €",Yes
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €",Yes
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €",Yes
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €",Yes
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €",Yes
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €",Yes
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €",Yes
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €",Yes
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €",Yes
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €",Yes
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €",Yes
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €",Yes
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €",Yes
0,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €",No
1,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €",No
2,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €",No
3,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €",No
4,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €",No
5,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €",No
6,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €",No
7,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €",No
8,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €",No
9,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €",No
10,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €",No
11,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €",No
12,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €",No
13,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €",No
14,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €",No
15,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €,No

In [10]:
valor_equipo=df3.copy()

In [11]:
valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €",Yes
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €",Yes
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €",Yes
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €",Yes
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €",Yes
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €",Yes
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €",Yes
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €",Yes
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €",Yes
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €",Yes
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €",Yes
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €",Yes
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €",Yes
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €",Yes
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €",Yes
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €",Yes
0,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €",No
1,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €",No
2,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €",No
3,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €",No
4,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €",No
5,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €",No
6,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €",No
7,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €",No
8,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €",No
9,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €",No
10,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €",No
11,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €",No
12,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €",No
13,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €",No
14,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €",No
15,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €,No

In [12]:
valor_equipo = valor_equipo.reset_index(drop=True)

In [13]:
valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3","1,09 mil mill. €","47,45 mill. €",Yes
1,Bayern Múnich,24,"25,6","920,70 mill. €","38,36 mill. €",Yes
2,París Saint-Germain FC,28,"25,4","889,55 mill. €","31,77 mill. €",Yes
3,Liverpool FC,27,"26,8","867,00 mill. €","32,11 mill. €",Yes
4,Chelsea FC,25,"26,6","846,50 mill. €","33,86 mill. €",Yes
5,Real Madrid CF,23,"27,4","839,00 mill. €","36,48 mill. €",Yes
6,Tottenham Hotspur,25,"26,2","677,80 mill. €","27,11 mill. €",Yes
7,Inter de Milán,28,"27,5","592,95 mill. €","21,18 mill. €",Yes
8,AC Milan,31,"26,2","550,55 mill. €","17,76 mill. €",Yes
9,Borussia Dortmund,32,"24,4","508,90 mill. €","15,90 mill. €",Yes
10,SSC Nápoles,27,"25,6","480,55 mill. €","17,80 mill. €",Yes
11,RB Leipzig,26,"25,3","480,50 mill. €","18,48 mill. €",Yes
12,SL Benfica,30,"25,6","298,00 mill. €","9,93 mill. €",Yes
13,FC Oporto,27,"26,3","263,80 mill. €","9,77 mill. €",Yes
14,Eintracht Fráncfort​​,30,"24,8","263,05 mill. €","8,77 mill. €",Yes
15,Club Brujas KV,31,"24,2","184,20 mill. €","5,94 mill. €",Yes
16,FC Barcelona,25,"25,4","799,50 mill. €","31,98 mill. €",No
17,Atlético de Madrid,22,"27,9","520,50 mill. €","23,66 mill. €",No
18,Juventus de Turín,27,"26,9","502,40 mill. €","18,61 mill. €",No
19,Bayer 04 Leverkusen,28,"24,5","417,85 mill. €","14,92 mill. €",No
20,Ajax de Ámsterdam,27,"24,8","296,05 mill. €","10,96 mill. €",No
21,Olympique de Marsella,27,"24,7","244,00 mill. €","9,04 mill. €",No
22,Red Bull Salzburgo,32,"22,2","236,33 mill. €","7,39 mill. €",No
23,Sporting CP,28,"24,5","234,90 mill. €","8,39 mill. €",No
24,Sevilla FC,26,"28,2","225,00 mill. €","8,65 mill. €",No
25,Rangers FC,32,"26,4","127,33 mill. €","3,98 mill. €",No
26,Celtic FC,27,"25,9","107,90 mill. €","4,00 mill. €",No
27,GNK Dinamo Zagreb,29,"25,5","107,50 mill. €","3,71 mill. €",No
28,Shakhtar Donetsk,29,"24,7","80,30 mill. €","2,77 mill. €",No
29,FC Copenhague,28,"24,6","68,00 mill. €","2,43 mill. €",No
30,FC Viktoria Plzen,27,"27,9","28,50 mill. €","1,06 mill. €",No
31,Maccabi Haifa,27,"27,4","20,60 mill. €",763 mil €,No

In [14]:
t = valor_equipo["Valor_equipo"]

In [15]:
lst = []
for i in t:
    if "mil mill" in i :
        lst.append(float(i.split(" m")[0].replace(",","."))*1000)
    else :
        lst.append(float(i.split(" m")[0].replace(",",".")))

In [16]:
lst

[1090.0,
 920.7,
 889.55,
 867.0,
 846.5,
 839.0,
 677.8,
 592.95,
 550.55,
 508.9,
 480.55,
 480.5,
 298.0,
 263.8,
 263.05,
 184.2,
 799.5,
 520.5,
 502.4,
 417.85,
 296.05,
 244.0,
 236.33,
 234.9,
 225.0,
 127.33,
 107.9,
 107.5,
 80.3,
 68.0,
 28.5,
 20.6]

In [17]:
valor_equipo["Valor_equipo"] =lst

In [18]:
valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3",1090.00,"47,45 mill. €",Yes
1,Bayern Múnich,24,"25,6",920.70,"38,36 mill. €",Yes
2,París Saint-Germain FC,28,"25,4",889.55,"31,77 mill. €",Yes
3,Liverpool FC,27,"26,8",867.00,"32,11 mill. €",Yes
4,Chelsea FC,25,"26,6",846.50,"33,86 mill. €",Yes
5,Real Madrid CF,23,"27,4",839.00,"36,48 mill. €",Yes
6,Tottenham Hotspur,25,"26,2",677.80,"27,11 mill. €",Yes
7,Inter de Milán,28,"27,5",592.95,"21,18 mill. €",Yes
8,AC Milan,31,"26,2",550.55,"17,76 mill. €",Yes
9,Borussia Dortmund,32,"24,4",508.90,"15,90 mill. €",Yes
10,SSC Nápoles,27,"25,6",480.55,"17,80 mill. €",Yes
11,RB Leipzig,26,"25,3",480.50,"18,48 mill. €",Yes
12,SL Benfica,30,"25,6",298.00,"9,93 mill. €",Yes
13,FC Oporto,27,"26,3",263.80,"9,77 mill. €",Yes
14,Eintracht Fráncfort​​,30,"24,8",263.05,"8,77 mill. €",Yes
15,Club Brujas KV,31,"24,2",184.20,"5,94 mill. €",Yes
16,FC Barcelona,25,"25,4",799.50,"31,98 mill. €",No
17,Atlético de Madrid,22,"27,9",520.50,"23,66 mill. €",No
18,Juventus de Turín,27,"26,9",502.40,"18,61 mill. €",No
19,Bayer 04 Leverkusen,28,"24,5",417.85,"14,92 mill. €",No
20,Ajax de Ámsterdam,27,"24,8",296.05,"10,96 mill. €",No
21,Olympique de Marsella,27,"24,7",244.00,"9,04 mill. €",No
22,Red Bull Salzburgo,32,"22,2",236.33,"7,39 mill. €",No
23,Sporting CP,28,"24,5",234.90,"8,39 mill. €",No
24,Sevilla FC,26,"28,2",225.00,"8,65 mill. €",No
25,Rangers FC,32,"26,4",127.33,"3,98 mill. €",No
26,Celtic FC,27,"25,9",107.90,"4,00 mill. €",No
27,GNK Dinamo Zagreb,29,"25,5",107.50,"3,71 mill. €",No
28,Shakhtar Donetsk,29,"24,7",80.30,"2,77 mill. €",No
29,FC Copenhague,28,"24,6",68.00,"2,43 mill. €",No
30,FC Viktoria Plzen,27,"27,9",28.50,"1,06 mill. €",No
31,Maccabi Haifa,27,"27,4",20.60,763 mil €,No

In [19]:
x = valor_equipo["Valor_medio_jugadores"]

In [20]:
lst = []
for i in x:
    if "mil mill" in i :
        lst.append(float(i.split(" m")[0].replace(",","."))*1000)
    else :
        lst.append(float(i.split(" m")[0].replace(",",".")))

In [21]:
lst

[47.45,
 38.36,
 31.77,
 32.11,
 33.86,
 36.48,
 27.11,
 21.18,
 17.76,
 15.9,
 17.8,
 18.48,
 9.93,
 9.77,
 8.77,
 5.94,
 31.98,
 23.66,
 18.61,
 14.92,
 10.96,
 9.04,
 7.39,
 8.39,
 8.65,
 3.98,
 4.0,
 3.71,
 2.77,
 2.43,
 1.06,
 763.0]

In [22]:
valor_equipo["Valor_medio_jugadores"] =lst

In [23]:
valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3",1090.00,47.45,Yes
1,Bayern Múnich,24,"25,6",920.70,38.36,Yes
2,París Saint-Germain FC,28,"25,4",889.55,31.77,Yes
3,Liverpool FC,27,"26,8",867.00,32.11,Yes
4,Chelsea FC,25,"26,6",846.50,33.86,Yes
5,Real Madrid CF,23,"27,4",839.00,36.48,Yes
6,Tottenham Hotspur,25,"26,2",677.80,27.11,Yes
7,Inter de Milán,28,"27,5",592.95,21.18,Yes
8,AC Milan,31,"26,2",550.55,17.76,Yes
9,Borussia Dortmund,32,"24,4",508.90,15.90,Yes
10,SSC Nápoles,27,"25,6",480.55,17.80,Yes
11,RB Leipzig,26,"25,3",480.50,18.48,Yes
12,SL Benfica,30,"25,6",298.00,9.93,Yes
13,FC Oporto,27,"26,3",263.80,9.77,Yes
14,Eintracht Fráncfort​​,30,"24,8",263.05,8.77,Yes
15,Club Brujas KV,31,"24,2",184.20,5.94,Yes
16,FC Barcelona,25,"25,4",799.50,31.98,No
17,Atlético de Madrid,22,"27,9",520.50,23.66,No
18,Juventus de Turín,27,"26,9",502.40,18.61,No
19,Bayer 04 Leverkusen,28,"24,5",417.85,14.92,No
20,Ajax de Ámsterdam,27,"24,8",296.05,10.96,No
21,Olympique de Marsella,27,"24,7",244.00,9.04,No
22,Red Bull Salzburgo,32,"22,2",236.33,7.39,No
23,Sporting CP,28,"24,5",234.90,8.39,No
24,Sevilla FC,26,"28,2",225.00,8.65,No
25,Rangers FC,32,"26,4",127.33,3.98,No
26,Celtic FC,27,"25,9",107.90,4.00,No
27,GNK Dinamo Zagreb,29,"25,5",107.50,3.71,No
28,Shakhtar Donetsk,29,"24,7",80.30,2.77,No
29,FC Copenhague,28,"24,6",68.00,2.43,No
30,FC Viktoria Plzen,27,"27,9",28.50,1.06,No
31,Maccabi Haifa,27,"27,4",20.60,763.00,No

In [24]:
valor_equipo.sort_values('Valor_equipo', ascending=False).reset_index(drop=True).head(50)

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3",1090.00,47.45,Yes
1,Bayern Múnich,24,"25,6",920.70,38.36,Yes
2,París Saint-Germain FC,28,"25,4",889.55,31.77,Yes
3,Liverpool FC,27,"26,8",867.00,32.11,Yes
4,Chelsea FC,25,"26,6",846.50,33.86,Yes
5,Real Madrid CF,23,"27,4",839.00,36.48,Yes
6,FC Barcelona,25,"25,4",799.50,31.98,No
7,Tottenham Hotspur,25,"26,2",677.80,27.11,Yes
8,Inter de Milán,28,"27,5",592.95,21.18,Yes
9,AC Milan,31,"26,2",550.55,17.76,Yes
10,Atlético de Madrid,22,"27,9",520.50,23.66,No
11,Borussia Dortmund,32,"24,4",508.90,15.90,Yes
12,Juventus de Turín,27,"26,9",502.40,18.61,No
13,SSC Nápoles,27,"25,6",480.55,17.80,Yes
14,RB Leipzig,26,"25,3",480.50,18.48,Yes
15,Bayer 04 Leverkusen,28,"24,5",417.85,14.92,No
16,SL Benfica,30,"25,6",298.00,9.93,Yes
17,Ajax de Ámsterdam,27,"24,8",296.05,10.96,No
18,FC Oporto,27,"26,3",263.80,9.77,Yes
19,Eintracht Fráncfort​​,30,"24,8",263.05,8.77,Yes
20,Olympique de Marsella,27,"24,7",244.00,9.04,No
21,Red Bull Salzburgo,32,"22,2",236.33,7.39,No
22,Sporting CP,28,"24,5",234.90,8.39,No
23,Sevilla FC,26,"28,2",225.00,8.65,No
24,Club Brujas KV,31,"24,2",184.20,5.94,Yes
25,Rangers FC,32,"26,4",127.33,3.98,No
26,Celtic FC,27,"25,9",107.90,4.00,No
27,GNK Dinamo Zagreb,29,"25,5",107.50,3.71,No
28,Shakhtar Donetsk,29,"24,7",80.30,2.77,No
29,FC Copenhague,28,"24,6",68.00,2.43,No
30,FC Viktoria Plzen,27,"27,9",28.50,1.06,No
31,Maccabi Haifa,27,"27,4",20.60,763.00,No

In [25]:
valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Manchester City,23,"27,3",1090.00,47.45,Yes
1,Bayern Múnich,24,"25,6",920.70,38.36,Yes
2,París Saint-Germain FC,28,"25,4",889.55,31.77,Yes
3,Liverpool FC,27,"26,8",867.00,32.11,Yes
4,Chelsea FC,25,"26,6",846.50,33.86,Yes
5,Real Madrid CF,23,"27,4",839.00,36.48,Yes
6,Tottenham Hotspur,25,"26,2",677.80,27.11,Yes
7,Inter de Milán,28,"27,5",592.95,21.18,Yes
8,AC Milan,31,"26,2",550.55,17.76,Yes
9,Borussia Dortmund,32,"24,4",508.90,15.90,Yes
10,SSC Nápoles,27,"25,6",480.55,17.80,Yes
11,RB Leipzig,26,"25,3",480.50,18.48,Yes
12,SL Benfica,30,"25,6",298.00,9.93,Yes
13,FC Oporto,27,"26,3",263.80,9.77,Yes
14,Eintracht Fráncfort​​,30,"24,8",263.05,8.77,Yes
15,Club Brujas KV,31,"24,2",184.20,5.94,Yes
16,FC Barcelona,25,"25,4",799.50,31.98,No
17,Atlético de Madrid,22,"27,9",520.50,23.66,No
18,Juventus de Turín,27,"26,9",502.40,18.61,No
19,Bayer 04 Leverkusen,28,"24,5",417.85,14.92,No
20,Ajax de Ámsterdam,27,"24,8",296.05,10.96,No
21,Olympique de Marsella,27,"24,7",244.00,9.04,No
22,Red Bull Salzburgo,32,"22,2",236.33,7.39,No
23,Sporting CP,28,"24,5",234.90,8.39,No
24,Sevilla FC,26,"28,2",225.00,8.65,No
25,Rangers FC,32,"26,4",127.33,3.98,No
26,Celtic FC,27,"25,9",107.90,4.00,No
27,GNK Dinamo Zagreb,29,"25,5",107.50,3.71,No
28,Shakhtar Donetsk,29,"24,7",80.30,2.77,No
29,FC Copenhague,28,"24,6",68.00,2.43,No
30,FC Viktoria Plzen,27,"27,9",28.50,1.06,No
31,Maccabi Haifa,27,"27,4",20.60,763.00,No

In [26]:
valor_equipo.Equipo.replace(['Manchester City','Bayern Múnich','París Saint-Germain FC','Liverpool FC','Chelsea FC','Real Madrid CF','Tottenham Hotspur','Inter de Milán','AC Milan','Borussia Dortmund','SSC Nápoles','RB Leipzig','SL Benfica','FC Oporto','Eintracht Fráncfort','Club Brujas KV','FC Barcelona','Atlético de Madrid','Juventus de Turín','Bayer 04 Leverkusen','Ajax de Ámsterdam','Olympique de Marsella','Red Bull Salzburgo','Sporting CP','Sevilla FC','Rangers FC','Celtic FC','GNK Dinamo Zagreb','Shakhtar Donetsk','FC Copenhague','FC Viktoria Plzen','Maccabi Haifa'], 
                  ['Man City', 'Bayern','Paris','Liverpool','Chelsea','Real Madrid','Tottenham','Inter','Milan','Dortmund','Napoli','Leipzig','Benfica','Porto','Frankfurt','Club_Brugge','Barcelona','Atlético','Juventus','Leverkusen','Ajax','Marseille','Salzburg','Sporting_CP','Sevilla','Rangers','Celtic','Dinamo Zagreb','Shakhtar Donetsk','Copenhagen','Plzeň','M_Haifa'],
                  inplace=True)

valor_equipo

,Equipo,Plantilla,Edad_media,Valor_equipo,Valor_medio_jugadores,Continua
0,Man City,23,"27,3",1090.00,47.45,Yes
1,Bayern,24,"25,6",920.70,38.36,Yes
2,Paris,28,"25,4",889.55,31.77,Yes
3,Liverpool,27,"26,8",867.00,32.11,Yes
4,Chelsea,25,"26,6",846.50,33.86,Yes
5,Real Madrid,23,"27,4",839.00,36.48,Yes
6,Tottenham,25,"26,2",677.80,27.11,Yes
7,Inter,28,"27,5",592.95,21.18,Yes
8,Milan,31,"26,2",550.55,17.76,Yes
9,Dortmund,32,"24,4",508.90,15.90,Yes
10,Napoli,27,"25,6",480.55,17.80,Yes
11,Leipzig,26,"25,3",480.50,18.48,Yes
12,Benfica,30,"25,6",298.00,9.93,Yes
13,Porto,27,"26,3",263.80,9.77,Yes
14,Eintracht Fráncfort​​,30,"24,8",263.05,8.77,Yes
15,Club_Brugge,31,"24,2",184.20,5.94,Yes
16,Barcelona,25,"25,4",799.50,31.98,No
17,Atlético,22,"27,9",520.50,23.66,No
18,Juventus,27,"26,9",502.40,18.61,No
19,Leverkusen,28,"24,5",417.85,14.92,No
20,Ajax,27,"24,8",296.05,10.96,No
21,Marseille,27,"24,7",244.00,9.04,No
22,Salzburg,32,"22,2",236.33,7.39,No
23,Sporting_CP,28,"24,5",234.90,8.39,No
24,Sevilla,26,"28,2",225.00,8.65,No
25,Rangers,32,"26,4",127.33,3.98,No
26,Celtic,27,"25,9",107.90,4.00,No
27,Dinamo Zagreb,29,"25,5",107.50,3.71,No
28,Shakhtar Donetsk,29,"24,7",80.30,2.77,No
29,Copenhagen,28,"24,6",68.00,2.43,No
30,Plzeň,27,"27,9",28.50,1.06,No
31,M_Haifa,27,"27,4",20.60,763.00,No

In [28]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
from urllib.request import urlopen
pd.set_option('display.max_columns', None)
valor_equipo.to_csv('../proyectototal/Val1', index=False)

In [29]:
%pip install mysql-connector-python
%pip install SQLAlchemy

Requirement already satisfied: mysql-connector-python in c:\users\xabie\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\xabie\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy in c:\users\xabie\anaconda3\lib\site-packages (1.4.32)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\xabie\anaconda3\lib\site-packages (from SQLAlchemy) (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [30]:
from sqlalchemy import create_engine

In [31]:
import mysql.connector as conn

In [32]:
str_conn='mysql+pymysql://root:password@localhost:3306'

cursor=create_engine(str_conn)

cursor.execute('drop database if exists Champions_league;')

cursor.execute('create database Champions_league;')

In [33]:
str_conn='mysql+pymysql://root:password@localhost:3306/Champions_league'

cursor=create_engine(str_conn)

In [35]:
valor_equipo.to_sql(name='valores_equipos', con=cursor, if_exists='replace', index=False)

32